# Importing data from the Sistema de Informação sobre Mortalidade (SIM) provied by the Ministério da Saúde
## Source: https://opendatasus.saude.gov.br/fa_IR/dataset/sim

In [1]:
import pandas as pd

## Loading data

In [2]:
usecols = [2, 6, 8, 9, 11, 12, 13, 14, 15, 16, 19, 28, 29, 34, 40,41,42,43, 44, 45, 46, 47, 48, 46, 48, 54, 55, 56, 63, 64, 65, 66, 69, 71, 72, 74, 75, 76, 78, 79, 81, 83, 85, 86]

my_list = ['str'] * len(usecols)

dtype = {key: value for key, value in zip(usecols, my_list)}

In [3]:
CID_CORONAVIRUS = 'B342'

In [4]:
df = None
for filename in ['Mortalidade_Geral_2020.csv', 'Mortalidade_Geral_2021.csv']:
    df_temp = pd.read_csv('data/input/sim/'+filename, header=0, sep=';', usecols=usecols, dtype=dtype)
    df_temp = df_temp[(df_temp['CAUSABAS'].str.contains(CID_CORONAVIRUS))].copy()
    if df is None:
        df = df_temp
    else:
        df = pd.concat([df, df_temp])

# df_temp = pd.read_csv('data/input/sim/Mortalidade_Geral_2022_previa.csv', header=0, sep=';', dtype='str')
# A base preliminar é mais atualizada que a base prévia
df_temp = pd.read_csv('data/input/sim/Mortalidade_Geral_2022_preliminar.csv', header=0, sep=';', dtype='str')
columns = [item for item in df.columns if item not in ['CONTADOR']] + ['contador']
df_temp = df_temp[columns]
df_temp = df_temp[(df_temp['CAUSABAS'].str.contains(CID_CORONAVIRUS))].copy()

In [5]:
df_temp = df_temp.rename(columns={'contador': 'CONTADOR'})
df = pd.concat([df, df_temp])

## Saving data

In [6]:
df.to_csv('data/output/df_sim_raw.csv', index=False)

In [9]:
df.shape

(702559, 42)

In [7]:
df.head()

,DTOBITO,DTNASC,SEXO,RACACOR,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,...,NUDIASOBCO,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,TPNIVELINV,DTCADINF,DTCONCASO,ALTCAUSA,CONTADOR
3,21052020,10081942,2,4,1,0,NaN,999993,120010,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,606
9,27052020,19021943,2,4,1,0,NaN,999993,120010,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612
10,27052020,14011975,1,1,9,9,NaN,999993,120025,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,613
16,05052020,10061972,2,1,3,2,NaN,NaN,120040,1,...,205,30112020,9,26112020,NaN,M,NaN,NaN,NaN,2664
34,25052020,04101939,2,4,1,0,NaN,999993,120040,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6245