# Importing Severe Acute Respiratory Syndrome (SRAG in portuguese) data
Source: https://opendatasus.saude.gov.br/dataset/srag-2020 and https://opendatasus.saude.gov.br/dataset/srag-2021-a-2023

In [1]:
import pandas as pd

## Reading data

In [39]:
FINAL_CLASSIFICATION_COVID_19 = 5

In [33]:
df = None
for filename in ['INFLUD20-01-05-2023.csv', 'INFLUD21-01-05-2023.csv', 'INFLUD22-03-04-2023.csv']:
    df_temp = pd.read_csv('data/input/srag/'+filename, header=0, sep=';')
    df_temp = df_temp[(df_temp.CLASSI_FIN == 5)]
    if df is None:
        df = df_temp
    else:
        df = pd.concat([df, df_temp])

/home/helder/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (15,59,61,62,63,91,93,105,114,116,117,118,122) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/helder/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (15,59,61,62,63,91,93,105,107,114,116,117,118,122,143) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/helder/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (15,53,59,61,62,63,91,93,120,122,143,171) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [37]:
df = df[['DT_SIN_PRI','DT_NOTIFIC','DT_DIGITA','CO_MUN_RES','EVOLUCAO','DT_EVOLUCA']]

## Saving data

In [51]:
df.to_csv('data/output/df_srag_raw.csv', index=False)

In [50]:
df.shape

(2166108, 6)

In [52]:
df.head()

   DT_SIN_PRI DT_NOTIFIC  DT_DIGITA  CO_MUN_RES  EVOLUCAO DT_EVOLUCA
3  2020-03-15 2020-03-23 2020-03-23    355030.0       1.0 2020-03-26
10 2020-03-23 2020-03-24 2020-03-26    431490.0       2.0 2020-04-02
23 2020-03-11 2020-03-20 2020-03-24    355030.0       2.0 2020-03-29
24 2020-03-23 2020-03-24 2020-03-24    355030.0       2.0 2020-03-30
33 2020-03-14 2020-03-24 2020-03-24    355030.0       1.0 2020-04-19